extends layout
block content
	h1 #{title}
	ul
		li
			a(href="/Restaurant/#{title}/Monday") Monday
		li
			a(href="/Restaurant/#{title}/Tuesday") Tuesday
		li
			a(href="/Restaurant/#{title}/Wednesday") Wednesday
		li
			a(href="/Restaurant/#{title}/Thursday") Thursday
		li
			a(href="/Restaurant/#{title}/Friday") Friday